<!DOCTYPE html>
<html class="wf-lato-n9-active wf-lato-n1-active wf-lato-n3-active wf-lato-n4-active wf-lato-n7-active wf-active" data-wf-site="52a79c05e9f7556a470003d3"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>MCSL Swim Progress</title>
  <meta name="description" content="MCSL swim results visual">
  <meta name="keywords" content="mcsl swim results visual">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/swim.css">
</head>


<body>



 <div class="section bg-image">
    <div class="w-container hero-text">
      <form action="" method="post">
		<h3>Enter Swimmer (Last, First):</h3><br>
                <input type = "text" Name="swimmer" size = "40" style = "height:20px;" /><br>
		<h3>Pick a Stroke: </h3><br>
 		<label><h1><input name="stroke" value="Free" type="radio">Free</h1></label>
 		<label><h1><input name="stroke" value="Back" type="radio">Back</h1></label>
 		<label><h1><input name="stroke" value="Fly" type="radio">Fly</h1></label>
 		<label><h1><input name="stroke" value="Breast" type="radio">Breast</h1></label>
        <label><h1><input name="stroke" value="Individual" type="radio">IM</h1></label><br>
		<h3>Swim before 2012 ?</h3><br>
 		<label><h1><input name="year" value="2012" type="radio">No</h1></label>
 		<label><h1><input name="year" value="2000" type="radio">Yes</h1></label>
    	<button class="button">Show Progress</button>

	</form>
</div>
</div>


</body></html>