<!DOCTYPE html>
<html>
<head>
    <title>MCSL Swim Progress<</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/swim.css') }}">

</head>
<body>
<div class="section bg-image">
    <div class="w-container hero-text"></div>
    <form method="POST">
        <h3>Swimmer Name:</h3>
        <br>
        <input type = "text" Name="data"  id="data" size = "40" style = "height:20px;" />
        <h4>(Last Name, First Name)</h4>
        <br>
        <button class="button">Show Progress</button>
    </form>
</div>
</div>
</body>
</html>
