<!DOCTYPE html>
<html>
<head>
    <title>MCSL Swim Progress</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Swim Progress</h1>
        <form method="POST" class="mt-4">
            <div class="form-group">
                <label for="text_input"><h5 class="mt-3">Swimmer Name (Last, First):</h5></label>
                <input type="text" class="form-control" id="text_input" name="text_input">
            </div>
            <h5 class="mt-3">Stroke(s):</h5>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="checkbox1_input" name="checkbox1_input">
                <label class="form-check-label" for="checkbox1_input">Free</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="checkbox2_input" name="checkbox2_input">
                <label class="form-check-label" for="checkbox2_input">Fly</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="mt-5">
            {% if plot %}
                {{ plot|safe }}
            {% endif %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper-core.min.js"
            integrity="sha384-4I4G77lHrn7x04EEvy9zVLtVJdSksNcsmnoTA6s1gYsE38oWAW92fL/2/kXOVrTb"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
